body {
  max-width: 1200px;
  margin: 0;
  padding: 0 27px;
  /*Я делаю фиксированную ширину.
  Так правильно будет указать отступы?*/

  /*Как отцентровать содержимое страницы?
  Я не поняла что такое блок-центровщик*/

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

/*временно для сетки*/
.visually-hidden,
.slider {
  display: none;
}

/*Сеточные стили. Главная*/

.main-header {
  display: flex;
  margin-top: 10px;
/*Это расстояние до логотипа.
Я правильно понимаю что мы измеряем расстояния от крайних точек блока?*/
  margin-bottom: 285px;
}

.slider {
  margin-bottom: 65px;
}

.action {
  display: flex;
  justify-content: space-between;
  min-height: 230px;
  margin-bottom: 40px;
}

.action-option {
  min-width: 560px;
}
/*не пойму в чем разница между width и min-width
Когда я задаю width, отступы между блоками
увеличиваются при увеличении экрана.
При min-width нет. Почему так?*/


.action-option-one {
  margin-right: 13px;
}

.action-option-two {
  margin-left: 13px;
}
/* правильно задан отсуп между блоками?
Как проще?
*/

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 267px;
  margin: 0;
  padding: 0;
}
  /*При ширине блоков как в макете и явно заданной ширине макета в боди
  отсупы между мороженками не как в макете wtf?*/

/*а при min-width происходит странное. Почему?*/

.features {
  min-height: 307px;
  margin-bottom: 40px;
}

.news-mail-container {
  display: flex;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 40px;
}

.blog-box,
.mailing-list-box {
  min-width: 560px;
  /*Отступ между блоками добавлю по аналогии с малинкой*/
}

.contacts {
  margin-bottom: 20px;
}

.contacts img {
  margin: 0 -27px;

/*Похоже не работает отступ справа на всей странице
Почему?*/

}

.contacts-field {
  min-height: 305px;
  width: 302px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 30px;
}


/*Сеточные стили. Каталог*/

/*В каталоге хлебные крошки пересекаются с хедером по вертикали.
position-absolute?*/

.inner-page .main-header {
  margin-bottom: 5px;
  /*Это расстояние от хедера до заголовка "Сливочное мороженое"
  Не переопределилось! И мне не нравится идея, как еще можно сделать?*/
}

.product-filter {
  display: flex;
  flex-wrap: wrap;
  width: 865px;
  margin-top: 25px;
  margin-bottom: 38px;
}

.catalog {
  margin-bottom: 80px;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 29px;
  margin: 0;
  padding: 0;
}






/*Базовая стилизация*/

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover,
a:focus {
  color: #ffbc9e;
}

.button {
  text-align: center;
  vertical-align: middle;
  color: #fefefe;
  background-color: #e84d37;
  text-decoration: none;
  border: none;
}

.button:hover {

}

.button:focus {

}

.button:active {

}

.main-menu ul,
.catalog-list,
.features-list,
.footer-social ul,
.breadcrumbs,
.pagination-list {
  list-style: none;
}

.main-menu {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
}

.menu-item:focus {
  color: #333333;
}

.menu-item:active {
  color: #ffffff;
  background-color: #d07058;
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
  background-color: #f8f7f4;
}

.sub-menu-news {
  font-weight: 700;
}

.sub-menu-item:hover {
  background-color: #fbded7;
}

.sub-menu-item:focus {
  background-color: #f6b5a5;
}

.sub-menu-item:active {
  color: #ffffff;
  background-color: #d07058;
}

.user-box {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
}

.user-box .working-hours {
  font-weight: 700;
}

.user-box .phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.profile-entrance-icon,
.search-icon,
.basket-icon {
  /*background-color: ;*/
}

.profile-entrance-form,
.search-form,
.basket-form {
  background-color: #f8f7f4;
}

.profile-entrance-icon:hover,
.search-icon:hover,
.basket-icon:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.profile-entrance-help a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.profile-entrance-help a:hover,
.profile-entrance-help a:focus {
  color: #ffbc9e;
}

.profile-entrance-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.basket-icon-full {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
  text-align: center;
  background-color: #fdfefe;
}

.basket-content {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket-content span {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  text-align: right;
}

.button-basket {
  font-size: 18px;
  line-height: 24px;
}

.search-form input[type=search],
.profile-entrance-form input[type=email],
.profile-entrance-form input[type=password],
.mailing-list-form input[type=email],
.feedback-form input[type=text],
.feedback-form input[type=email],
.feedback-form textarea {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
}

.search-form input[type=search]:hover,
.profile-entrance-form input[type=email]:hover,
.profile-entrance-form input[type=password]:hover,
.mailing-list-form input[type=email]:hover,
.feedback-form input[type=text]:hover,
.feedback-form input[type=email]:hover,
.feedback-form textarea:hover {
  outline: 2px solid #9a9a9a;
}

.search-form input[type=search]:focus,
.profile-entrance-form input[type=email]:focus,
.profile-entrance-form input[type=password]:focus,
.mailing-list-form input[type=email]:focus,
.feedback-form input[type=text]:focus,
.feedback-form input[type=email]:focus,
.feedback-form textarea:focus {
  outline: 2px solid #2e88e4;
}

.search-form input[type=search]:active,
.profile-entrance-form input[type=email]:active,
.profile-entrance-form input[type=password]:active,
.mailing-list-form input[type=email]:active,
.feedback-form input[type=text]:active,
.feedback-form input[type=email]:active,
.feedback-form textarea:active {
  color: #323232;
  outline: 1px solid #b2b2b2;
/*не очень понимаю какой псевдокласс должен изменять введенный текст*/
}


.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.catalog-page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  text-align: left;
}

.product-filter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
}

.sorting-description {
  font-size: 14px;
  line-height: 16px;
}

.sorting-pannel {
  background-color: transparent;
  /*border-radius: ;*/
}

.button-filter-applying {
  /*background-color: ;*/
  border: 2px solid #ffffff;
}

.button-filter-applying:hover {
  color: #323232;
  background-color: #ffffff;
}

.button-filter-applying:action {
  color: #323232;
}

.sort-by-product:hover {
  color: #323232;
}

.slider {
  text-align: center;
}

.slider h2 {
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  font-weight: 700;
}

.slider .button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.action-option {
  text-align: left;
  color: #ffffff;
  font-weight: 700;
}

.action-option h3 {
  font-size: 35px;
  line-height: 41px;
}

.action-option p {
  font-size: 18px;
  line-height: 22px;
}

.button-action {
  font-size: 18px;
  line-height: 24px;
}

.action-option-one {
  background-color: #73253a;
  background-image: url("../img/raspberry_background.jpg");
}

.action-option-two {
  background-color: #4a2518;
  background-image: url("../img/chocolate_background.jpg");
}

.catalog-item p {
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
}

.catalog-price span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: right;
}

.selected-item {
  background-color: transparent;
}

.pagination-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: justify;
  background-color: #eee1c9;
}

.features {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  background-color: #eee1c9;
  background-image: url("../img/wafer_background.jpg");
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.blog-box {
  background-color: #ffffff;
  background-image: url("../img/icecream-background.jpg");
}

.blog-description {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;
  text-align: left;
}

.blog-box a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  text-align: left;
  text-decoration: underline;
}

.mailing-list-box {
  background-color: #f8f7f4;
}

.mailing-list-description {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 700;
  text-align: left;
}

.button-mailing-list {
  font-size: 18px;
  line-height: 24px;
}

.contacts {
  background-color: #cee0c0;
}

.contacts-field {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  font-weight: 400;
  text-align: left;
  background-color: #fdfefe;
}

.address .office-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.orders .phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.orders .working-hours {
  line-height: 20px;
}

.button-feedback {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
}

.for-suppliers {
  font-weight: 700;
}
