body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}


/*Нормализация*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #ffffff;
  /*text-decoration: none;*/
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
}


/*Блок-центровщик*/

.container {
  width: 1200px;
  margin: 0 auto;
}


/*Общие стили для кнопки*/

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  color: #ffffff;
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


/*Общие стили для полей ввода*/

.input {
  display: inline;
  vertical-align: top;
  min-height: 42px;
  width: 100%;
  padding-left: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
}

.input:hover {
  border: 2px solid #9a9a9a;
}

.input:focus {
  border: 2px solid #2e88e4;
}

.input:active {
  color: #323232;
  border: 1px solid #b2b2b2;
  outline: none;
  /*убрать обводку по умолчанию*/
/*как изменить цвет введенный текст?*/
}


/*Сброс стилей списка*/

.main-menu-list,
.catalog-list,
.features-list,
.footer-navigation-list,
.social-list,
.breadcrumbs,
.pagination-list,
.sub-menu,
.features-item {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*временно для сетки*/

.search-form,
.profile-entrance-block,
.selected-item,
.modal-feedback,
.basket-block {
  display: none;
}







/*Хедер*/

.main-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.menu-wrapper {
  display: flex;
  justify-content: flex-start;
}

.main-logo {
  margin-right: 9px;
  border-bottom: none;
}

.inner-page .main-logo:hover {
  background-color: none;
}

.main-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
}

.menu-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  padding: 9px 14px;
}

.menu-item a:hover {
  text-decoration: none;
  color: #333333;
  background-color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}


.sub-menu {
  display: none;
  width: 143px;
  min-height: 171px;
  vertical-align: bottom;
  background-color: #f8f7f4;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(194, 206, 199, 0.52)
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
}


.menu-item:hover .sub-menu {
  display: block;
  position: absolute;
  top: 45px;
  left:;
}


/*.sub-menu-news {
  font-weight: 700;
  border-bottom: 2px solid gray;
}*/

/*.sub-menu a {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  border: none;
  font-weight: 400;
  padding: auto 20px;
}*/

/*.sub-menu li {
  height: 30px;
  text-align: left;
}*/

/*.sub-menu li:hover {
  background-color: #fbded7;
}*/

/*.sub-menu li:active {
  background-color: #f6b5a5;
}*/

/*.inner-page .active {
  color: #ffffff;
  background-color: #d07058;
}*/

.user-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 293px;
  margin-top: 15px;
}

.user-box div {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 500;
  margin-left: 9px;
}

.search:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.profile-entrance-icon,
.basket-icon {
  font-size: 14px;
  line-height: 16px;
  display: block;
  padding-left: 45px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 9px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 26px;
  position: relative;
}

.basket-icon {
  padding-right: 32px;
}

.profile-entrance-icon::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
}
/*Можно ли покрасить иконку входа в белый?*/

.basket-icon::before {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 15px;
}


/*.search:hover .search-form {
  display: block;
}*/

.shop-contacts {
  margin-top: 17px;
}

.shop-contacts p {
  padding: 0;
  margin: 0;
  text-align: right;
}

 .shop-contacts .shop-contacts-working-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.shop-contacts .shop-contacts-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 6px;
}

/*.search-form {
  display: block;
  width: 343px;
  min-height: 85px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  border-radius: 10px;
}*/

/*.profile-entrance-block {
  display: block;
  width: 278px;
  min-height: 215px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  border-radius: 10px;
}*/

.profile-entrance-help {
  display: inline-block;
}

.profile-entrance-help a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

/*.profile-entrance-help a:hover,
.profile-entrance-help a:focus {
  color: #ffbc9e;
}*/

.profile-entrance-button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/*.basket-block {
  display: block;
  width: 540px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.40);
  border-radius: 10px;
}*/

.basket-content {
  width: 510px;
  min-height: 110px;
  border-bottom: 1px solid #cacac7;
}

.basket-item td {
  vertical-align: center;
  text-align: left;
  padding-right: 20px;
  padding-top: 18px;
  /*padding-bottom: 18px;*/
}

.basket-item-description {
  width: 246px;
}

.basket-item-remove {
  font-size: 0;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
}

.basket-content {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket-content span {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  text-align: right;
}

/*.profile-entrance-icon:hover,
.search-icon:hover,
.basket-icon:hover {
  color: #323232;
  background-color: #f8f7f4;
}*/

/*.inner-page .basket-icon-full {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
  text-align: center;
  background-color: #fdfefe;
}*/





/*Мэйн*/

.action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.action-option-one {
  background-color: #73253a;
  background-image: url("../img/raspberry_background.jpg");
}

.action-option-two {
  background-color: #4a2518;
  background-image: url("../img/chocolate_background.jpg");
}

.action-option {
  width: 560px;
  padding: 16px 18px;
  padding-bottom: 25px;
  border-radius: 14px;
  text-align: right;
  color: #ffffff;
  font-weight: 700;
}

.action-option h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  font-size: 35px;
  line-height: 41px;
  text-align: left;
}

.action-option p {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.button-action {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 26px;
}

.catalog {
  margin-bottom: 35px;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.inner-page .catalog {
  padding-left: 0;
  padding-right: 0;
}
/*сброс паддингов у контейнера внтуренней*/

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  width: 267px;
}

.inner-page .catalog-item {
  margin-bottom: 40px;
}

.item-image img {
  border-radius: 50%;
}

.item-hit {
  position: relative;
}

.item-hit::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  background-position: center;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.item-price {
  margin: 0;
  padding: 0;
  margin-top: -66px;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  /*сделать тень 50% 1 3 120*/
}

.item-price span {
  font-size: 30px;
  line-height: 45px;
}

.item-description {
  margin: 0;
  padding: 0;
  padding-top: 21px;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
}

.features-wrapper {
  padding-left: 2.3%;
  padding-right: 2.3%;
  margin-bottom: 40px;
}

.features {
  background-color: #eee1c9;
  background-image: url("../img/wafer_background.jpg");
  border-radius: 14px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 15px;
}

.features-title {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-item {
  width: 49%;
  position: relative;
  padding-left: 57px;
  padding-right: 10px;
  margin-bottom: 24px;
}

.features-item-one:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: -14px;
  width: 55px;
  height: 55px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.features-item-two:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: -14px;
  width: 55px;
  height: 55px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.features-item-three:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: -14px;
  width: 55px;
  height: 55px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.features-item-four:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: -14px;
  width: 55px;
  height: 55px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}



.news-mail-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.blog-box,
.mailing-list-box {
  width: 560px;
  border-radius: 14px;
}

.blog-box {
  padding: 23px 20px;
  background-color: #ffffff;
  background-image: url("../img/icecream-background.jpg");
  background-repeat: no-repeat;
}

.blog-description {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 500;
  text-align: left;
}

.article-header {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-right: 200px;
  padding-bottom: 58px;
}

.article-header a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  text-align: left;
  /*почеу текстовые параметры нужно задавать ссылке
  а через класс не действуют?*/
}

.mailing-list-box {
  background-color: #f8f7f4;
  padding-top: 34px;
  padding-left: 28px;
  padding-right: 21px;
}

.mailing-list-description {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  color: #5a5a5a;
  font-weight: 700;
  text-align: left;
}

.mailing-list-form {
  display: flex;
  justify-content: space-between;
}

.button-mailing-list {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px;
  margin-left: 13px;
}

.contacts {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.contacts-wrapper {
      position: absolute;
    top: 62px;
    left: 873px;
    width: 302px;
    background-color: #fdfefe;
    padding: 29px 24px;
    border-radius: 14px;
}


.contacts-block {
  color: #323232;
  text-align: left;
}

.contacts-description {
      padding: 0;
    margin: 0;
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.office-address,
.phone {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-block .hours {
  line-height: 22px;
}

.button-feedback {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 13px 26px;
}




/*Внутренняя страница*/

.inner-page .main-container {
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.inner-page .main-header {
  height: 100px;
}
/*Задала высоту чтобы хлебные крошки встали на место
Как иначе сделать?*/




.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li {
   margin-right: 21px;
}

.catalog-page-title {
  margin: 0;
  padding: 0;
  margin-top: 4px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  /*временно для сетки*/
  margin-bottom: 200px;
}

/*Если в каталог добавить еще два пунка, они прилепятся к краям. Как сделать чтобы были по левому краю?
ДУмаю, надо flex-start и margin-right? Но мне не очень такое решение.
Тогда last-child и ему margin-right: auto*/

.product-filter {
  display: none;
  /*временно для сетки*/
  flex-wrap: wrap;
  justify-content: space-between;
  width: 865px;
  margin-bottom: 58px;
  height: 139px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
}

.sorting-description {
  font-size: 14px;
  line-height: 16px;
}

.sorting-pannel {
  background-color: transparent;
  /*border-radius: ;*/
}

.button-filter-applying {
  /*background-color: ;*/
  border: 2px solid #ffffff;
}

.button-filter-applying:hover {
  color: #323232;
  background-color: #ffffff;
}

.button-filter-applying:action {
  color: #323232;
}

.sort-by-product:hover {
  color: #323232;
}

.pagination {
  margin-top: 41px;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
}

.pagination-item {
  margin-right: 21px;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
}

.pagination-item-selected {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
}

.pagination-item-selected a {
  color: #323232;
}
/*Пагинатор, как расположить цифры и
как добавить стрелочки? */












/*Футер*/

.main-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-left: 2.3%;
  padding-right: 2.3%;
  margin-top: 30px;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  text-align: left;
}

/*.inner-page .main-footer {
}*/

.footer-social {
  width: 267px;
  /*ширина на случай переполнения*/
  margin-right: auto;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
}

.social-button {
  margin-right: 10px;
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button a {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
/*Как скрыть текст в блоке с соцсетями?
Пробовала дать ссылкам класс visually-hidden - пропадает вместе с картинками
*/

.footer-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 480px;
}

.footer-navigation-list {
  margin-right: 32px;
}

.footer-navigation-item {
  padding-bottom: 4px;
}

.footer-navigation-item-special {
  font-weight: 700;
  position: relative;
}

.footer-navigation-item-special::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: -21px;
  width: 18px;
  height: 18px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-top: -14px;
}

.copyright-decription {
  padding: 0;
  margin: 0;
}











/*Поп-ап*/


.modal-feedback {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  text-align: left;
  width: 480px;
  background-color: #fdfefe;
  border-radius: 10px;
}





/*Слайдер*/

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider_creme-brulee-raspberry.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider_chocolate-lemon.png");
}

.site-wrapper::after {
  background-image: url("../img/slider_fondant-strawberry.png");
}

.slider {
  position: relative;
  padding-top: 273px;
  margin-bottom: 40px;
  text-align: center;
  color: #ffffff;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.slider-promo {
  display: none;
}

.slider-promo-image {
  width: 0;
  height: 0;
}

.slider-promo-description {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-controls label {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider_creme-brulee-raspberry.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider_chocolate-lemon.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider_fondant-strawberry.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
